<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= day %>요일 운동 시작!</title>
    <style>
        table, td, th {
            border: 1px solid black;
            border-collapse: collapse;
            width: 700px;
            text-align: center;
        }
        th {
            color: violet;
        }
    </style>
  </head>
  
  <body>
    <div>
        <h1><%= day %>요일 운동 시작하세요!</h1>
    </div>
    <div>
        <table>
            <div class ="title">
                <tr>
                    <th>운동 방법</th>
                    <th>자극 부위</th>
                    <th>세트</th>
                    <th>횟수</th>
                    <th>쉬는시간</th>
                    <th></th>
                    <th></th>
                </tr>
            </div>
        <% for(let i=0; i <arr1.length ;i++) {
            %>
            <% if(arr1[i].Id == Id) { %>
                <tr>
                    <form method="POST" action="" id="editForm">
                        <td><input type="text" name="way" style="width:70px"/></td>
                        <td><input type="text" name="part" style="width:70px"/></td>
                        <td><input type="text" name="setNumber" style="width:70px"/></td>
                        <td><input type="text" name="number" style="width:70px"/></td>
                        <td><input type="text" name="breakTime" style="width:70px"/></td>
                        <td><button type="submit">확인</button></td>
                    </form>
                </tr>
            <% } else {%>
            
            <tr>
                <td><%= arr1[i].way %></td>
                <td><%= arr1[i].part %></td>
                <td><%= arr1[i].setNumber %></td>
                <td><%= arr1[i].number %></td>
                <td><%= arr1[i].breakTime %></td>
                <td>
                    
                </td>
            </tr>
            <% }} %>
        </table>
    </div>
  </body>
</html>
